@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8em;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    background: var(--clr);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 0;
}

.logo {
    position: relative;
    color: #ffffff;
    font-size: 2em;
    text-decoration: none;
    font-weight: 700;
}


header nav {
    display: flex;
    gap: 10px;
}

header nav a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 12px 20px;
}

header nav a.active {
    background: var(--clr);
    color: #333;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
}

header nav a.active::before {
    content: '';
    left: -20px;
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0 5px var(--clr);
}   

header nav a.active::after {
    content: '';
    right: -20px;
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-left-radius: 20px;
    box-shadow: -5px 5px 0 5px var(--clr);
}   

header nav a.active:nth-child(1):hover {
    color: #333;
}
header nav a.active:nth-child(2):hover {
    color: #333;
}
header nav a.active:nth-child(3):hover {
    color: #333;
}
header nav a.active:nth-child(4):hover {
    color: #333;
}
header nav a.active:nth-child(5):hover {
    color: #333;
}

header nav a:nth-child(1):hover {
    color: #ff4d4d;
}
 
header nav a:nth-child(2):hover {
    color: #c56cf0;
}
header nav a:nth-child(3):hover {
    color: #ffeaa7;
}
header nav a:nth-child(4):hover {
    color: #17c0eb;
}
header nav a:nth-child(5):hover {
    color: #fd79a8;
}
 